<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="./index.html">
                <img src="./assets/images/logo.png" alt="Multi-Tools Logo" class="site-logo">
                Multi-Tools
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tools
                        </a>
                      <ul class="dropdown-menu" aria-labelledby="toolsDropdown">
    <li class="dropdown-submenu">
        <a class="dropdown-item" href="./tools/image-tools">Image Tools</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./tools/image-crop">Image Crop</a></li>
            <li><a class="dropdown-item" href="./tools/image-resize">Image Resize</a></li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a class="dropdown-item" href="./tools/seo-tools">SEO Tools</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./tools/seo-audit">SEO Audit</a></li>
            <li><a class="dropdown-item" href="./tools/keyword-research">Keyword Research</a></li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a class="dropdown-item" href="./tools/text-tools">Text Tools</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./tools/text-analyzer">Text Analyzer</a></li>
            <li><a class="dropdown-item" href="./tools/word-counter">Word Counter</a></li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a class="dropdown-item" href="./tools/developer-tools">Developer Tools</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./tools/code-editor">Code Editor</a></li>
            <li><a class="dropdown-item" href="./tools/api-tester">API Tester</a></li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a class="dropdown-item" href="./tools/calculators">Calculators</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./tools/calculator-bmi">BMI Calculator</a></li>
            <li><a class="dropdown-item" href="./tools/calculator-interest">Interest Calculator</a></li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a class="dropdown-item" href="./tools/converters">Converters</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./tools/currency-converter">Currency Converter</a></li>
            <li><a class="dropdown-item" href="./tools/temperature-converter">Temperature Converter</a></li>
        </ul>
    </li>
</ul>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header> 
