<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="./index.html">
                <img src="./assets/images/logo.png" alt="Multi-Tools Logo" class="site-logo">
                Multi-Tools
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tools
                        </a>
<ul class="dropdown-menu" aria-labelledby="toolsDropdown">
    <li class="dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Image Tools
        </a>
        <ul class="dropdown-menu" aria-labelledby="imageToolsDropdown">
            <li><a class="dropdown-item" href="./tools/image-tools/image-to-png-converter.html">Image to PNG Converter</a></li>
            <li><a class="dropdown-item" href="./tools/image-tools/image-to-jpg-converter.html">Image to JPG Converter</a></li>
            <li><a class="dropdown-item" href="./tools/image-tools/image-resizer.html">Image Resizer</a></li>
            <li><a class="dropdown-item" href="./tools/image-tools/image-compressor.html">Image Compressor</a></li>
        </ul>
    </li>
    
    <li class="dropdown">
        <a class="dropdown-item dropdown-toggle" href="./tools/seo-tools" id="seoToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SEO Tools
        </a>
        <ul class="dropdown-menu" aria-labelledby="seoToolsDropdown">
            <!-- Add your SEO tools links here -->
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-item dropdown-toggle" href="./tools/text-tools" id="textToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Text Tools
        </a>
        <ul class="dropdown-menu" aria-labelledby="textToolsDropdown">
            <!-- Add your text tools links here -->
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-item dropdown-toggle" href="./tools/developer-tools" id="developerToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Developer Tools
        </a>
        <ul class="dropdown-menu" aria-labelledby="developerToolsDropdown">
            <!-- Add your developer tools links here -->
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-item dropdown-toggle" href="./tools/calculators" id="calculatorsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Calculators
        </a>
        <ul class="dropdown-menu" aria-labelledby="calculatorsDropdown">
            <!-- Add your calculator tools links here -->
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-item dropdown-toggle" href="./tools/converters" id="convertersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Converters
        </a>
        <ul class="dropdown-menu" aria-labelledby="convertersDropdown">
            <!-- Add your converters tools links here -->
        </ul>
    </li>
</ul>


                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header> 
